<div style="width: 60%; margin: 20px auto;">
<%= simple_form_for [@household, @task] do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :due_date %>
  <%= f.input :points %>
  <%= f.input :assignee, collection: @household.users.map { |user| user.username } %>
  <div style="text-align: center;">
    <button class='btn btn-main' style='padding: 0px'>
      <%= f.submit 'Add Task', class: "btn-main", data: {turbo: false}%>
    </button>
  </div>
<% end %>
</div>
