
<%= simple_form_for(@user) do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :username %>
  <%= f.input :birthday_date, as: :date, start_year: Date.today.year - 120,
                              end_year: Date.today.year,
                              order: [:day, :month, :year] %>
  <%= f.input :status %>
  <%= f.input :photo, as: :file %>

  <div style="text-align: center;">
  <%= f.submit class: "btn-main", style: 'background-color: #f3703f' %>
  </div>
<% end %>
