
 <div class="container" style='padding: 30px 100px'>
            <h2 class="text-center", style='color: #2a2e30; padding: 30px 20px 0 20px; font-size: 32px; font-weight: bold;'><b>Who are your<span style='color:#f3703f;'> Flatmates</span></b>?</h2>
                    <p class="text-center" style='font-size: 20px; opacity: .7; padding: 10px 20px';>Set up 2/4</p>
            <div class='text-center' style='text-align: center; border: 2px solid #f3703f;  margin: 10px auto 40px; width: 8%;'>
            </div>


<!-- >
This button connects to the Household configuration part!
<div style='text-align: center; margin: 0 auto 50px'> <%= link_to 'Next', configuration_path(current_user.household_id), class: 'btn-main' %> </div>
-->

<div class="container" style="justify-content: center; align-items: center; display: flex; flex-direction: column;">
<%= form_with url: users_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Enter a username"
  %>
  <button class='btn-main', style='background-color:green'>
  <%= submit_tag "Search" %>
  </button>
<% end %>
</div>

<div style='text-align: center; margin: 30px auto 50px'> <%= link_to 'Previous',  new_household_path, class: 'btn-main' %>  <%= link_to 'Next', household_rules_path(current_user.household_id), class: 'btn-main' %> </div>



</div>
<div class="row" style="justify-content: center; align-items: center; display: flex; flex-direction: column;">
  <% @users.each do |user| %>
  <div class="column">
    <div class="card" style="width: 18rem; margin: 10px; padding: 10px;">
      <div class="card-body">
        <h2><%= user.username %></h2>
      </div>


      <div class="col pt-1">
            <%= simple_form_for [user, @request] do |f| %>
            <button class="btn-main-blue"  data-controller="accept" data-action="click->accept#disable" data-accept-target="button">
              <%=  f.button :submit   %>
             </button>
            <% end %>
      </div>

      </div>
    </div>
  <% end %>
</div>
