<div class="container" style="margin: 40px auto; min-height: 100vh; align-items: center; display: flex; flex-direction: column;">
            <h2 class="text-center", style='color: #2a2e30; padding: 30px 20px 0 20px; font-size: 32px; font-weight: bold;'><b>Here are your <span style='color:#01a5e2;'>requests</span></b>!</h2>
            <div class='text-center' style='text-align: center; border: 2px solid #01a5e2;  margin: 10px auto 40px; width: 8%;'>
            </div>


<% if @requests.empty? %>
 <p class="text-center" style='font-size: 20px; opacity: .7; padding: 10px 20px';>You currently have no requests. Ask your Captain to send you an invitation or <strong> <span style='color: #01a5e2'><%= link_to 'start your own household!', new_household_path %> </span> </strong></p>
<% else %>
  <% @requests.each do |request| %>
    <div class="card" style="width: 18rem; margin: 10px; padding: 10px;">
      <div class="card-body">
        <%= "A request to join #{request.household.name}" %>
      </div>
      <div class="btn submit-btn"  style="border: 1px solid #e6e6e6;">
        <%= simple_form_for [@user, request] do |f| %>
          <%= f.input :accepted, as: :hidden, input_html: { value: true } %>
          <%= f.submit "Accept Request" %>

        <% end %>
      </div>

  <% end %>
  <% end %>
</div>
