
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/11734954/pexels-photo-11734954.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);">
  <div class="container">
    <h1>Stop <strong>debates</strong> between <strong>flatmates</strong>!</h1>
    <p>Turn your boring household chores into a game with Timoty.</p>
    <a class="btn btn-main" href="#">Get started</a>
  </div>
</div>


  <!-- How it works -->

  <div class="container" style='padding: 30px 100px'>
    <h2 class="text-center", style='padding: 30px 100px; text-shadow: 1px 1px 3px rgb(0 0 0 / 20%); font-size: 32px; font-weight: bold;'><b>How it works</b></h2>

    <div class="cards">

      <div class="card">
        <%= image_tag ("accont.svg") %>
        <h4>Sign up for Free</h4>
        <p>Set up your profile and your first household.</p>
      </div>

      <div class="card">
      <%= image_tag ("home.svg") %>
        <h4>Choose the rules of the game</h4>
        <p>Define tasks, points the rules of your competition.</p>
      </div>

      <div class="card">
        <%= image_tag ("cup.svg") %>
        <h4>Start the game!</h4>
        <p>Complete your tasks to earn points and win! </p>
      </div>

    </div>
  </div>

<div class="container-lg">
	<div class="row">
		<div class="col-sm-12">
			<h2 style='padding: 10px 100px; text-shadow: 1px 1px 3px rgb(0 0 0 / 20%); font-size: 32px; font-weight: bold;'> <b>Testimonials</b></h2>
			<div id="myCarousel" class="carousel slide" data-ride="carousel" style='padding: 30px 100px; margin: 20px 0';>

				<!-- Wrapper for carousel items -->
				<div class="carousel-inner" style='padding: 30px 10px'>
					<div class="carousel-item active">
						<div class="row">
							<div class="col-sm-6">
								<div class="testimonial-wrapper">
									<div class="testimonial">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, semper malesuada ante, commodo iacul viverra.</div>
									<div class="media">
										<%= image_tag ("woman") %>
										<div class="media-body">
											<div class="overview">
												<div class="name"><b>Paula Wilson</b></div>
												<div class="star-rating">
													<ul class="list-inline">
														<li class="list-inline-item"><i class="fa fa-star"></i></li>
														<li class="list-inline-item"><i class="fa fa-star"></i></li>
														<li class="list-inline-item"><i class="fa fa-star"></i></li>
														<li class="list-inline-item"><i class="fa fa-star"></i></li>
														<li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="testimonial-wrapper">
									<div class="testimonial">Vestibulum quis quam ut magna consequat faucibus. Pellentesque eget mi suscipit tincidunt. Utmtc tempus dictum. Pellentesque virra. Quis quam ut magna consequat faucibus, metus id mi gravida.</div>
									<div class="media">
										<%= image_tag ("man") %>
										<div class="media-body">
											<div class="overview">
												<div class="name"><b>Antonio Moreno</b></div>
												<div class="star-rating">
													<ul class="list-inline">
														<li class="list-inline-item"><i class="fa fa-star"></i></li>
														<li class="list-inline-item"><i class="fa fa-star"></i></li>
														<li class="list-inline-item"><i class="fa fa-star"></i></li>
														<li class="list-inline-item"><i class="fa fa-star"></i></li>
														<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>






						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


 <div class="container" style='padding: 30px 100px'>
    <h2 class="text-center", style='padding: 30px 100px; text-shadow: 1px 1px 3px rgb(0 0 0 / 20%); font-size: 32px; font-weight: bold;'><b>Questions? Contact Us!</b></h2>
    <p> add some contact info here, maybe a contact form and a map? </p>
