<!DOCTYPE html>
<html>
  <head>
    <title>Timoty - Flatmates Life Made Easy </title>
    <%= favicon_link_tag 'favicon.ico' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://cdn.tailwindcss.com"></script>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="app">
      <%= render "shared/navbar" %>
      <%= render "shared/flashes" %>
      <main>
        <%= yield %>
      </main>
      <%= render "shared/footer" %>
    </div>
  </body>
</html>
