<!DOCTYPE html>
<html>
  <head>
    <title>Timoty - Flatmates Life Made Easy </title>
    <%= favicon_link_tag 'favicon.ico' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>

    <%= render "shared/navbar" %>

      <div class='container' style='height:100vh; margin: 40px auto'>
        <%= render "shared/flashes" %>
        <%= yield %>
      </div>

    <%= render "shared/footer" %>

  </body>
</html>
