<%= turbo_frame_tag dom_id(task) do %>

<!-- If task is done, set the border and background to green + checkbox -->
    <% if task.done? %>
      <div style='green; margin: 10px; background-color: lightgreen; opacity: 0.7; box-shadow: 1px 1px 1px lightgray'>
      <div class="border border-slate-300 p-6 rounded flex items-center" data-controller="edit-task" style='padding: 50px; background-color: #D1efc5; border: 2px green;' >
          <%= link_to household_updated_task_path(task.household_id, task.id, task: { done: !task.done? }), data: {turbo_method: :patch} do %>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-8 h-8" id='checkbox' >
            <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
            </svg>
      <% end %>

    <% else %>

      <div style='margin: 10px ; box-shadow: 1px 1px 1px lightgray'>
      <div class="border border-slate-300 p-4 rounded bg-white flex items-center" data-controller="edit-task" style='padding: 50px;'>
        <%= link_to household_updated_task_path(task.household_id, task.id, task: { done: !task.done? }), data: {turbo_method: :patch} do %>
        <div class="h-8 w-8 bg-slate-200 rounded-full"></div>
        <% end %>

    <% end %>


    <div data-edit-task-target="infos" style='padding: 4px;'></div>
        <span class="ml-2" style='font-size: 2.5vh'><%= task.name %></span>
        <% if !task.done? %>
        <span class="ml-2" style='font-size: 2.5vh'>for <span style='color: orange; font-weight: bold;'> <%= task.points %> </span> points</span>

        <div class= "ml-auto p-2">

        <span class="ml-2" style='font-size: 2vh; padding-right: 20px'> <%= task.assignee.username %></span>
        <span class="ml-2">
            <% if task.assignee.photo.attached? %>
              <%= cl_image_tag task.assignee.photo.key, class: 'rounded-circle text-center object-center', style: 'display: inline', height: 100, width: 100, crop: :fill, gravity: "auto", radius: "max" %>
            <% else %>
               <%= image_tag 'user-placeholder.png', class: 'rounded-circle text-center', height: 100, width: 100, style: 'display: inline;'  %>
            <% end %>
          </span>

        <% else %>
          <span style='color: darkgreen; font-size: 2.5vh'><strong> Completed!  <i class="fa-solid fa-thumbs-up"></i></strong></span>
          <span style='color: darkgreen; font-size: 2.5vh'><strong> + <%= task.points %> for <%task.assignee %></span>
        <% end %>

        </div>
      </div>

</div>



<% end %>
